
<div>
<div> 
<br><script src="js/app.js"></script>
<script src="js/controller.js"></script>
<script src="js/controller2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<br>

<br>
<br>

     <form method="get" action="disp.html" id="post-form">

        <input type="submit" value="Click to view Pdf " class="btn btn-default">
    </form>

    <form method="get" action="modify">

         <div id="invisi" class="btn btn-default">Not happy with the question paper... modify it!"</div>
        <br><br>
                <div>
                 No. of Question Papers<input type="text" name="number">
                    <br>
                <textarea name="name2"  rows="20" cols="40">Enter text here...</textarea>
                     <br><br>
                <input type="submit" value="Modify" class="btn btn-default">
        </div>
    </form>
    <br><br>
    <form method="get" action="markit">
        <input type="text" style="visibility: hidden" name="file" value="hello7.0">
        <div  class="btn btn-default"> UPLOAD SCANS</div>
        <br><br>
        <input type="submit" value="Analyse Your Documents!"  class="btn btn-default">

    </form>
    <form method="get" action="random">
    <br><br>
        <input type="text" style="visibility: hidden" name="file" value="hello7.0">
        <input type="submit" value="Check Marks!"  class="btn btn-default">

    </form>
</p>





</form>

</div>

<script>
   /* function create_post()
        {
                console.log("create post is working!"); // sanity check
                $.ajax
                ({
                    url : "index", // the endpoint
                    type : "get", // http method

                    success : function(json) {

                        console.log(json); // log the returned json to the console
                        console.log("success"); // another sanity check
                    },
                    // handle a non-successful response
                    error : function(xhr,errmsg,err) {
                        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                            " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                        console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                    }
                });
    }
    $('#post-form').on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!");  // sanity check
        create_post();
        });*/

</script>