
<div>
<div> 
<br><script src="js/app.js"></script>
<script src="js/controller.js"></script>
<script src="js/controller2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<br>

<br>
<br>

     <form method="get" action="disp.html" id="post-form">

        <input type="submit" value="Click to view Pdf " class="btn btn-default">
    </form>




    <form method="get" action="modify">

         <div id="invisi" class="btn btn-default" onclick="showTextArea()">Not happy with the question paper... modify it!"</div>
        <br><br>
            <div id="question" style="visibility: hidden;"><h4>No. of Question papers</h4><input type="text" name="number"></div>
            <br>
            <div id="textAreaDiv"  style="visibility:hidden;"><textarea rows="20" cols="40"></textarea></div>
            <br>
            <div id="submission" style="visibility: hidden;"><input type="submit" value="Modify" class="btn btn-default"></div>
     </form>


    <br><br>


    <form method="get" action="scan" id="lol1">
        <label>How many papers do you wish to scan</label>
        <input type="number" name="num" value=1>
        <input type="submit" value="Scan Please!" class="btn btn-default">
    </form>


    <form method="get" action="checkMate">
    <br><br>
       <input type="submit" value="Check Marks!"  class="btn btn-default">

    </form>


</div>

<script>



    function showTextArea() {
        document.getElementById('question').style.visibility="visible";
        document.getElementById('textAreaDiv').style.visibility="visible";
        document.getElementById('submission').style.visibility="visible";
}

</script>
</div>